
[Desktop Entry]
Name=CScan
Comment=Sample application using GNOME technologies
Exec=CScan
Icon=
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;